* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

#app {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.bg-app {
    /* background-color: rgb(0, 150, 135); */
    background: rgb(211, 219, 219);
    background: linear-gradient(0deg, rgba(211, 219, 219, 1) 30%, rgba(220, 219, 209, 1) 80%, rgba(0, 150, 135, 1) 80%);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
}

.user-img-wrapper {
    display: inline-block;
    /* border-radius: 50%; */
}

img {
    width: 100%;
    display: block;
}

.app-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
}

.app-wrapper,
.app-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

ul,
li,
menu,
a {
    list-style: none;
    text-decoration: none;
}

/* layout */
.app-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* pointer-events: none; */
    display: flex;
}

.app-sidebar {
    flex-basis: 30%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    overflow: visible;
    height: 100%;
}

.app-sidebar .contacts {
    flex-grow: 1;
    overflow-y: scroll;
}

.app-main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.app-main-content .text-board {
    flex-shrink: 0;
}

.app-main-content .chat-content {
    flex-grow: 1;
    overflow-y: scroll;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    /* overflow-x: hidden; */
}

/* .chat-content .messages-received-sx,
.chat-content .messages-send-dx {
    flex-basis: 50%;
    height: 100%;
} */

.user-profile,
.contact-profile,
.text-board {
    height: 50px;
}

/* side bar */

.user-profile,
.contact-profile {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.user-profile .user-account,
.user-profile .user-account-name {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-img-wrapper .user-img {
    aspect-ratio: 1;
    width: 40px;
    border-radius: 50%;
}

.user-profile .user-tools {
    display: flex;
    gap: 10px;
}

.notifications {
    display: flex;
    padding: 10px;
    align-items: center;
    height: 60px;
}

.notification-icon {
    background-color: white;
    width: 30px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 50%;
    color: rgb(142, 218, 252);
}

.notification-cta-text {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: underline;
}

.notification-cta-active {
    margin-top: 3px;
    display: block;
}

.search-bar {
    padding: 5px;
    background-color: rgb(250, 250, 250);
}

.search-bar .search-wrapper {
    display: flex;
    padding: 3px 3px;
    border-radius: 5px;
    background-color: white;
    height: 30px;
}

.search-bar .search-icon {
    width: 50px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-right: 1px solid rgb(250, 250, 250);
}

.search-input-bar {
    flex-grow: 1;
    margin-left: 5px;
}

::placeholder {
    font-size: 11px;
}

.search-account-input {
    width: 100%;
    border-radius: 5px;
    appearance: none;
    border: none;
    outline: none;
}


.contacts {
    background-color: white;
}

.contact-list-item {
    display: flex;
    padding: 10px;
    gap: 10px;
    align-items: center;
    position: relative;
    border-top: 1px solid rgb(234, 234, 234);
    transition: all 0.3s;
}

.contact-list-time {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #B2B1B2;
}

.contact-list-item:hover {
    background-color: #f4f4f4;
}

/* main content */

.contact-profile {
    border-left: 1px solid #B2B1B2;
}

.contact-account {
    display: flex;
    gap: 10px;
}

.contact-account-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

.contact-tools {
    display: flex;
    gap: 15px;
}


/* main content footer */

.text-board {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.text-board-icon {
    width: 40px;
    display: flex;
    justify-content: center;
}

.type-text-board {
    flex-grow: 1;
}

.input-text-board {
    width: 100%;
    line-height: 20px;
    outline: none;
    border: none;
    appearance: none;
    border-radius: 5px;
    padding: 5px;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.message-sent {
    background-color: rgb(213, 249, 186);
    align-self: flex-end;
    max-width: 80%;
    padding: 10px 8px;
    font-size: 12px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
}

.message-text {
    line-height: 20px;
}

.message-received {
    background-color: white;
    align-self: flex-start;
    max-width: 80%;
    padding: 10px 8px;
    font-size: 12px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
}

.message-time {
    align-self: flex-end;
    font-size: 10px;
}















/* background - color - font-size */

.chat-content.bg-mine {
    background-image: url(../img/mine.jpg); 
}

.bg-grey {
    background-color: rgb(234, 234, 234);
}

.bg-light-blue {
    background-color: rgb(142, 218, 252);
}

.color-grey {
    color: #B2B1B2;
}

.font-size-md {
    font-size: 13px;
}

.font-size-sm {
    font-size: 11px;
}















/* debug */

.debug #app {
    border: 1px solid red;
}

.debug .container {
    border: 1px solid black;
}

.debug .app-content {
    border: 1px solid blue;
}

.debug .app-sidebar {
    border: 1px solid lightskyblue;
}

.debug .app-main-content {
    border: 1px solid red;
}

.debug header,
.debug .notifications,
.debug .search-bar,
.debug .contacts {
    border: 1px solid lightgray;
}

.debug section {
    border: 1px solid brown;
}

.debug .messages-received-sx,
.debug .messages-send-dx {
    border: 1px solid violet;
}

.debug footer {
    border: 1px solid yellowgreen;
}




/* .debug header, .debug div, .debug section {

    border: 1px solid violet;

} */