<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <!-- fonts -->
    <script src="https://kit.fontawesome.com/7d64c20f84.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body class="bg-app">
    <div id="app">
        <div class="app-wrapper container">
            <!-- app-content START -->
            <div class="app-content">
                <!-- side bar START -->
                <div class="debugg app-sidebar">

                    <header class="user-profile bg-grey">

                        <div class="user-account">
                            <figure class="user-img-wrapper">
                                <img class="user-img" src="./img/avatar_io.jpg" alt="">
                            </figure>

                            <div class="user-account-name">

                                <p class="user-name font-size-md">Sofia</p>

                            </div>
                        </div>

                        <div class="user-tools color-grey">
                            <div class="user-tool-icon">
                                <i class="fa-solid fa-circle-notch"></i>
                            </div>
                            <div class="user-tool-icon">
                                <i class="fa-solid fa-message"></i>
                            </div>
                            <div class="user-tool-icon">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>

                    </header>

                    <div class="notifications bg-light-blue">

                        <div class="notification-icon">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>

                        <div class="notification-cta">
                            <p class="notification-cta-title font-size-md">Ricevi notifiche di nuovi messaggi</p>

                            <a class="notification-cta-active" href="#">
                                <p class="notification-cta-text  font-size-sm">Attiva notifiche desktop</p>
                            </a>
                        </div>

                    </div>

                    <div class="search-bar">

                        <div class="search-wrapper">

                            <div class="search-icon color-grey">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>

                            <div class="search-input-bar">
                                <input class="search-account-input" type="text"
                                    placeholder="Cerca o inizia una nuova chat">
                            </div>
                        </div>
                    </div>

                    <!-- contacts-list -->

                    <div class="contacts">

                        <ul class="contacts-list">
                            <!-- aggiungere classe active -->
                            <li v-for="(contact, index) in contacts" :key="index" class="contact-list-item">
                                <figure class="user-img-wrapper">
                                    <img class="user-img" :src="contact.avatar" alt="">
                                </figure>

                                <div class="user-account-name">
                                    <p class="user-name font-size-md">{{ contact.name }}</p>
                                    <p class="user-last-message color-grey font-size-sm">Ultimo messaggio inviato</p>
                                </div>

                                <div class="contact-list-time">
                                    <span class="font-size-sm">12:00</span>
                                </div>
                            </li>
                        </ul>

                    </div>

                </div>
                <!-- side bar END -->

                <!-- main-content START -->
                <div class="debugg app-main-content ">

                    <header class="contact-profile bg-grey">

                        <div class="contact-account">
                            <figure class="user-img-wrapper">
                                <img class="user-img" src="./img/avatar_1.jpg" alt="">
                            </figure>

                            <div class="contact-account-name">

                                <p class="contact-name font-size-md">{{ contacts[currentIndex].name }}</p>
                                <p class="color-grey font-size-sm">Ultimo accesso oggi alle 12:00</p>

                            </div>
                        </div>

                        <div class="contact-tools color-grey">
                            <div class="user-tool-icon">

                                <i class="fa-solid fa-magnifying-glass"></i>

                            </div>

                            <div class="user-tool-icon">

                                <i class="fa-solid fa-paperclip"></i>

                            </div>

                            <div class="user-tool-icon">

                                <i class="fa-solid fa-ellipsis-vertical"></i>

                            </div>

                        </div>

                    </header>

                    <section class="chat-content bg-mine">
                        <ul class="chat-messages">
                            <li v-for="item in contacts[currentIndex].messages" :class=" 'message-' + item.status ">
                                <p class="message-text">{{ item.message }}</p>
                                <div class="message-time">12:00</div>
                            </li>
                        </ul>
                    </section>

                    <footer class="text-board bg-grey">

                        <div class="text-board-icon">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>

                        <div class="type-text-board">

                            <input class="input-text-board" type="text" placeholder="Scrivi un messaggio">

                        </div>

                        <div class="text-board-icon">
                            <i class="fa-solid fa-microphone"></i>
                        </div>

                    </footer>

                </div>
                <!-- main-content END -->
            </div>
            <!-- app-content END -->
        </div>
    </div>



    <!-- js -->
    <script src="./js/script.js"></script>
</body>

</html>